/*Cambio a la fuente Open Sans*/
html{
  	font-family: 'Open Sans', sans-serif;
}


/* COLORES */
/*El color #DF5D5D (ROJO) quedó nombrado como red en materialize*/
/*El color #38D28C (VERDE)quedó nombrado como green en materialize*/
/*El color #00AB6C (VERDE2) quedó nombrado como green darken-1 en materialize*/


/*Control del alto de la barra de navegación*/
/*Control de los márgenes de la imagen en la barra de navegación*/
/*Centrado de las pestañas de la barra de navegación*/
nav {
      height: 64px;
}
@media only screen and (max-width: 992px){
  a.brand-logo{
    margin: 10px;
  }
}
@media only screen and (min-width: 601px)
{
  nav, div.navbar-fixed{
    height: 80px;
    }
  a.brand-logo{
    margin: 10px 30px;
  }
}

nav ul{
    padding: 10px;
}

/*Encabezado*/
.encabezado{
  background-image: url(../img/png/patron2.png);
  background-repeat: repeat;
  background-size: 5%;
  height: 200px;
}
div.encabezado div.container p{
  margin: 0 auto;
  font-size: 1.8rem;
}
div.encabezado div.container{
  width: 70%;
}
div.encabezado div.container p.conocer{
  font-size: 1rem;
  text-align: right;
}

/*Footer*/
footer div.col{
  text-align: center;
}
footer div.col a{
  padding: 4px;
}
footer p{
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}
.patron{
  background-image: url(../img/png/patron3.png);
  background-repeat: repeat;
  height: 150px;
}
@media only screen and (max-width: 601px)
{
  .patron{
    height: 80px;
}
}

/*Términos y condiciones*/
div.term{
  width: 70%;
}
div.term h6{
  font-size: 0.8rem;
  font-weight: bold;
  line-height: normal;
}
footer.page-footer .footer-copyright {
    overflow: visible;
}
div.term p{
  font-weight: lighter;
  font-size: 0.6rem;
  line-height: normal;
}
